<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <meta content="width=device-width, initial-scale=1" name="viewport"/>  
      <link href="/style.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   </head>

   <body>
      <div>
        <h2>API Project: File Metadata Microservice</h2>
        
        <h3>Usage:</h3>
        <p>
          Upload a File to get it's name and size in JSON response...
        </p>

        <form method="POST" action="/api/fileanalyse" enctype="multipart/form-data">
          <input id="inputfield" type="file" name="upfile"><br>
          <input id="button" type="submit" value="Upload">
        </form>
    
        <br><br><br>
        <table id="footer">
          <tr>
            <td>
            <a href="https://github.com/atiyahaider/Request-header-parser" target="_blank"><i class="fab fa-github"></i>&nbsp;&nbsp;VIEW CODE</a>            
            </td>
            <td class="right">Designed and Coded By: <a target="_blank" href="https://s.codepen.io/atiyahaider/debug/oaZxeb/dGrXWdOKgPWM">Atiya Haider</a></td>
          </tr>
        </table>

     </div>
   </body>

</html>
