<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <link href="/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div>
        <h2>API Project: File Metadata Microservice</h2>
        
        <h3>Usage:</h3>
        <p>
          Upload a File to get it's name and size in JSON response...
        </p>

        <form method="POST" action="/api/fileanalyse" enctype="multipart/form-data">
          <input id="inputfield" type="file" name="upfile"><br>
          <input id="button" type="submit" value="Upload">
        </form>
    
     </div>
   </body>

</html>
