<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <link href="/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div>
        <h2>API Project: File Metadata Microservice</h2>
        
        <h3>Usage:</h3>
        <p>
          Please Upload a File to get it's size in JSON response...
        </p>

        <form method="POST" action="/api/fileanalyse" enctype="multipart/form-data">
          <input id="inputfield" type="file" name="upfile"><br>
          <input id="button" type="submit" value="Upload">
        </form>

        <div class="user-stories">
          <ol><h3>User Stories:</h3>
            <li>Submit a form object that includes a file upload.</li>
            <li>The form file input field has the "name" attribute set to "upfile".</li>
            <li>After submitting a file for upload, the file name and size in bytes will be received in JSON response.</li>
          </ol>
        </div>
     
     </div>
   </body>

</html>
