/****** Main Styling ******/
* {
    box-sizing: border-box;
  }
  
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #222;
  background-color: #9fdfbf;
	text-align: center;
	line-height: 1.3em;
}

h2{
  background-color: #79d2a6;
  padding: 8px;
  margin-top: 30px;
}

h3 {
  margin-top: 35px;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  max-width: 500px;
}

#inputfield {
  margin: 10px auto;
}

#button {
  width: 150px;
  margin: 10px auto;
}

#footer {
  background-color: #79d2a6;
  font-size: 0.8em;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

#footer a {
  text-decoration: none;
}

.fab {
  font-size: 1.5em;
}

.right {
  float: right;
}

td {
  padding: 3px 5px 0px;
}