/****** Main Styling ******/
* {
    box-sizing: border-box;
  }
  
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #222;
  background-color: #9fdfbf;
	text-align: center;
	line-height: 1.3em;
}

h2 {
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  max-width: 500px;
}

#inputfield {
  margin: 10px auto;
}

#button {
  width: 150px;
  margin: 10px auto;
}